.DS_Store
.ipynb_checkpoints
__pycache__
Pipfile.lock

# Latex
auto
report.acn
report.aux
report.bbl
report.blg
report.glo
report.ist
report.log
report.out
report.pdf
report.spl
report.thm
report.nav
report.snm
report.toc